name: .NET CI

on:
    push:
        branches:
            - main
    pull_request: 
        branches:
            - main



jobs:
    build-and-test:
        runs-on: ubuntu-latest
      

        steps:
            - name: Checkout
              uses: actions/checkout@v5.0.0

            - name: Setup .NET Core SDK
              uses: actions/setup-dotnet@v5.0.0
              with:
                dotnet-version: '9.0.x'

            - name: Restore Dependencies
              run: dotnet restore 

            - name: Build
              run: dotnet build --no-restore -v normal > build.log 2>&1


            - name: Test
              run: dotnet test --no-build --verbosity normal > test.log 2>&1

            - name: Artifact
              uses: actions/upload-artifact@v4
              with:
                name: artifacts
                path: |
                  build.log
                  test.log
            - name: Create env file for CI
              working-directory: CI_CD
              run: |
                echo "CONNECTION_STRING=Server=db;Database=Products;User Id=sa;Password=SaPassword123!;TrustServerCertificate=True;" > .env
                echo "SA_PASSWORD=SaPassword123!" >> .env

            - name: Docker Compose Up
              working-directory: CI_CD
              run: |
                docker compose --profile local up -d
                sleep 10

            - name: Docker Compose Down
              if: always()
              working-directory: CI_CD
              run: docker compose down -v

            - name: Login to ACR
              run: |
                echo "${{ secrets.ACR_PASSWORD }}" | docker login \
                  ${{ secrets.ACR_LOGIN_SERVER }} \
                  -u ${{ secrets.ACR_USERNAME }} \
                  --password-stdin

            - name: Build Docker image
              run: |
                IMAGE=${{ secrets.ACR_LOGIN_SERVER }}/ci_cd
                TAG=${{ github.sha }}

                docker build -t $IMAGE:$TAG -t $IMAGE:latest .

            - name: Push Docker image
              run: |
                IMAGE=${{ secrets.ACR_LOGIN_SERVER }}/ci_cd
                TAG=${{ github.sha }}

                docker push $IMAGE:$TAG
                docker push $IMAGE:latest
