name: .NET CI

on:
    push:
        branches:
            - main
    pull_request: 
        branches:
            - main



jobs:
    build-and-test:
        runs-on: ubuntu-latest
      

        steps:
            - name: Checkout
              uses: actions/checkout@v5.0.0

            - name: Setup .NET Core SDK
              uses: actions/setup-dotnet@v5.0.0
              with:
                dotnet-version: '9.0.x'

            - name: Restore Dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --no-restore -v normal > build.log 2>&1


            - name: Test
              run: dotnet test --no-build --verbosity normal > test.log 2>&1

            - name: Artifact
              uses: actions/upload-artifact@v4
              with:
                name: artifacts
                path: |
                  build.log
                  test.log

            - name: Docker Build
              working-directory: CI_CD
              run: docker build -t ci-cd:test .

            - name: Docker Compose Up
              working-directory: CI_CD
              run: |
                docker compose up -d
                sleep 10

            - name: Docker Compose Down
              if: always()
              working-directory: CI_CD
              run: docker compose down -v